<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #7b6ada;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            color: white;
        }

        h1, h2 {
            color: white;
        }

        .dashboard {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .card {
            flex: 1 1 300px;
            background-color: #9588e1;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .card h2 {
            margin-top: 0;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: white;
        }

        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1rem;
            color: black;
        }

        button[type="submit"],
        .button-list button,
        .refresh-button {
            padding: 10px 20px;
            background-color: #4A90E2;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .refresh-button {
            padding: 5px;
            background-color: transparent;
            color: white;
            font-size: 1.5em;
            vertical-align: middle;
            margin-left: 10px;
        }

        .refresh-button:hover {
            color: #2980b9;
        }

        button[type="submit"]:hover,
        .button-list button:hover {
            background-color: #2980b9;
        }

        .branch {
            background-color: #9588e1;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-top: 20px;
        }

        #fileList {
            list-style-type: none;
            padding: 0;
        }

        .file, .folder {
            background-color: #9d8df1;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .file:hover, .folder:hover {
            background-color: #bdc3c7;
        }

        .file-options span {
            margin-left: 10px;
            cursor: pointer;
            color: #3498db;
        }

        .file-options span:hover {
            text-decoration: underline;
        }

        .chat-messages {
            margin-top: 20px;
        }

        .chat-messages p {
            margin: 5px 0;
        }

        .button-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    </style>
</head>
<body>
<h1>Admin Dashboard</h1>
<div class="dashboard">
    <div class="card">
        <h2>File Manager
            <button class="refresh-button" onclick="displayFileList()">&#x21bb;</button>
        </h2>
        <div id="path"></div>
        <ul id="fileList"></ul>
        <button onclick="addFolder()">Add Folder</button>
    </div>

    <div class="card">
        <h2>Add New User</h2>
        <form id="addUserForm">
            <div class="form-group">
                <label for="emailInput">Email:</label>
                <input type="email" id="emailInput" required>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password:</label>
                <input type="password" id="passwordInput" required>
            </div>
            <div class="form-group">
                <label for="userTag">Tag:</label>
                <select id="userTag" required>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>
            <button type="submit">Add User</button>
        </form>
    </div>

    <div class="card">
        <h2>Add Class for User</h2>
        <form id="addClassForm">
            <div class="form-group">
                <label for="userEmailInput">User Email:</label>
                <input type="email" id="userEmailInput" required>
            </div>
            <div class="form-group">
                <label for="classInput">Class Name:</label>
                <input type="text" id="classInput" required>
            </div>
            <div class="form-group">
                <label for="htmlFileNameInput">HTML File Name:</label>
                <input type="text" id="htmlFileNameInput" required>
            </div>
            <div class="form-group">
                <label for="classTag">Tag:</label>
                <select id="classTag" required onchange="toggleMeetingLinkInput()">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
            </div>
            <div class="form-group" id="meetingLinkGroup" style="display: none;">
                <label for="meetingLinkInput">Class Meeting Link:</label>
                <input type="text" id="meetingLinkInput">
            </div>
            <button type="submit">Add Class</button>
        </form>
    </div>

    <div class="card">
        <h2>Create Assignment</h2>
        <form id="createAssignmentForm">
            <div class="form-group">
                <label for="user-email">User Email:</label>
                <input type="email" id="user-email" required>
            </div>
            <div class="form-group">
                <label for="assignment-title">Title:</label>
                <input type="text" id="assignment-title" required>
            </div>
            <div class="form-group">
                <label for="assignment-details">Details:</label>
                <textarea id="assignment-details" required></textarea>
            </div>
            <div class="form-group">
                <label for="assignment-class">Class:</label>
                <input type="text" id="assignment-class" required>
            </div>
            <button type="submit">Create Assignment</button>
        </form>
    </div>
</div>

<div class="branch">
    <h2>User Emails and Classes</h2>
    <ul id="userClassList"></ul>
</div>
<div class="card">
    <h2>Chat Moderation</h2>
    <div id="teacherButtons"></div>
    <div id="studentButtons"></div>
    <div id="chatMessages"></div>
</div>

<script>
    const firebaseConfig = {
        apiKey: "AIzaSyBdoEiHLAyKqAkIUuFX7QSZ-QKVgEJ-k-g",
        authDomain: "terrahub-75dbf.firebaseapp.com",
        databaseURL: "https://terrahub-75dbf-default-rtdb.firebaseio.com",
        projectId: "terrahub-75dbf",
        storageBucket: "terrahub-75dbf.appspot.com",
        messagingSenderId: "468040062461",
        appId: "1:468040062461:web:0d48f044d4b484852b3594",
        measurementId: "G-EZ6B6H3MQ5"
    };

    firebase.initializeApp(firebaseConfig);
    const database = firebase.database();
    const storageRef = firebase.storage().ref();
    let currentPath = '';

    document.getElementById('addUserForm').addEventListener('submit', (event) => {
        event.preventDefault();
        const email = document.getElementById('emailInput').value;
        const password = document.getElementById('passwordInput').value;
        const tag = document.getElementById('userTag').value;
        const userId = email.replace(/[.#$[\]\/]/g, ',');
        database.ref('users/' + userId).set({
            email: email,
            password: password,
            tag: tag
        });
        alert('User added successfully!');
        document.getElementById('emailInput').value = '';
        document.getElementById('passwordInput').value = '';
    });

    document.getElementById('addClassForm').addEventListener('submit', (event) => {
        event.preventDefault();
        const userEmail = document.getElementById('userEmailInput').value;
        const className = document.getElementById('classInput').value;
        const htmlFileName = document.getElementById('htmlFileNameInput').value;
        const classTag = document.getElementById('classTag').value;
        const meetingLink = document.getElementById('meetingLinkInput').value;
        const userId = userEmail.replace(/[.#$[\]\/]/g, ',');
        const userRef = database.ref('users/' + userId);

        userRef.once('value', (snapshot) => {
            if (snapshot.exists()) {
                const classData = {
                    className: className,
                    htmlFileName: htmlFileName,
                    tag: classTag
                };

                if (classTag === 'teacher' && meetingLink) {
                    classData.meetingLink = meetingLink;
                }

                userRef.child('classes').push(classData);
                alert('Class added successfully!');
                document.getElementById('userEmailInput').value = '';
                document.getElementById('classInput').value = '';
                document.getElementById('htmlFileNameInput').value = '';
                document.getElementById('meetingLinkInput').value = '';
                document.getElementById('meetingLinkGroup').style.display = 'none';
            } else {
                alert('User with provided email not found.');
            }
        });
    });

    function toggleMeetingLinkInput() {
        const classTag = document.getElementById('classTag').value;
        const meetingLinkGroup = document.getElementById('meetingLinkGroup');
        if (classTag === 'teacher') {
            meetingLinkGroup.style.display = 'block';
        } else {
            meetingLinkGroup.style.display = 'none';
        }
    }

    function createAssignment() {
        const userEmail = document.getElementById('user-email').value.replace(/\./g, ',');
        const title = document.getElementById('assignment-title').value;
        const details = document.getElementById('assignment-details').value;
        const className = document.getElementById('assignment-class').value;

        if (userEmail && title && details && className) {
            const assignmentId = database.ref().child('users/' + userEmail + '/assignments').push().key;

            const assignmentData = {
                title: title,
                details: details,
                class: className,
                uploaded: false
            };

            const updates = {};
            updates['/users/' + userEmail + '/assignments/' + assignmentId] = assignmentData;

            database.ref().update(updates).then(() => {
                alert('Assignment created successfully!');
            }).catch((error) => {
                console.error('Error creating assignment:', error);
                alert('Error creating assignment: ' + error.message);
            });
        } else {
            alert('Please fill out all fields.');
        }
    }

    document.getElementById('createAssignmentForm').addEventListener('submit', (event) => {
        event.preventDefault();
        createAssignment();
    });

    function displayFileList(path = '') {
        currentPath = path;
        const fileListElement = document.getElementById('fileList');
        fileListElement.innerHTML = '';

        const pathElement = document.getElementById('path');
        pathElement.innerHTML = '';

        if (currentPath) {
            const folders = currentPath.split('/').filter(Boolean);
            let tempPath = '';
            for (const folder of folders) {
                tempPath += `${folder}/`;
                const span = document.createElement('span');
                span.textContent = folder;
                span.onclick = () => {
                    displayFileList(tempPath);
                };
                pathElement.appendChild(span);
                pathElement.innerHTML += ' / ';
            }
        }

        const currentRef = path ? storageRef.child(path) : storageRef;

        currentRef.listAll().then((result) => {
            result.prefixes.forEach((folderRef) => {
                const folderName = folderRef.name.split('/').filter(Boolean).pop();
                const listItem = document.createElement('li');
                listItem.className = 'folder';
                listItem.innerHTML = `
                    <span class="material-icons icon">folder</span>
                    <span onclick="displayFileList('${folderRef.fullPath}')">${folderName}</span>
                `;
                fileListElement.appendChild(listItem);
            });

            result.items.forEach((itemRef) => {
                const itemName = itemRef.name.split('/').pop();

                if (itemName) {
                    const listItem = document.createElement('li');
                    listItem.className = 'file';
                    listItem.innerHTML = `
                        <span class="material-icons icon">insert_drive_file</span>
                        <span>${itemName}</span>
                        <span class="file-options">
                            <span onclick="downloadFile('${itemRef.fullPath}')">Download</span>
                            <span onclick="renameFile('${itemRef.fullPath}')">Rename</span>
                            <span onclick="deleteFile('${itemRef.fullPath}')">Delete</span>
                        </span>
                    `;
                    fileListElement.appendChild(listItem);
                }
            });
        });
    }

    function addFile(folderPath) {
        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const fileName = file.name;
            const fileRef = storageRef.child(`${folderPath}/${fileName}`);
            fileRef.put(file).then(() => {
                displayFileList(folderPath);
            }).catch((error) => {
                console.error('Upload failed:', error.message);
            });
        });
        fileInput.click();
    }

    function addFolder() {
        const folderName = prompt('Enter new folder name:');
        if (folderName) {
            const folderPath = currentPath ? `${currentPath}${folderName}/.folderMarker_${Date.now()}` : `${folderName}/.folderMarker_${Date.now()}`;
            storageRef.child(folderPath).put(new Blob(['folderMarker']))
                .then(() => {
                    console.log('Folder created:', folderPath);
                    displayFileList(currentPath);
                })
                .catch((error) => {
                    console.error('Folder creation failed:', error.message);
                });
        }
    }

    function deleteFolder(folderPath) {
        const folderRef = storageRef.child(folderPath);
        folderRef.delete().then(() => {
            displayFileList(currentPath);
        }).catch((error) => {
            console.error('Folder deletion failed:', error.message);
        });
    }

    function deleteFile(filePath) {
        const fileRef = storageRef.child(filePath);
        fileRef.delete().then(() => {
            displayFileList(currentPath);
        }).catch((error) => {
            console.error('File deletion failed:', error.message);
        });
    }

    function downloadFile(filePath) {
        const fileRef = storageRef.child(filePath);
        fileRef.getDownloadURL().then((url) => {
            const a = document.createElement('a');
            a.href = url;
            a.download = filePath.split('/').pop();
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }).catch((error) => {
            console.error('Download failed:', error.message);
        });
    }

    function navigateToPath(path) {
        displayFileList(path);
    }

    function renameFolder(folderPath) {
        const newFolderName = prompt('Enter new folder name:');
        if (newFolderName) {
            const folderRef = storageRef.child(folderPath);
            const parentPath = folderPath.substring(0, folderPath.lastIndexOf('/') + 1);
            const newFolderPath = parentPath + newFolderName + '/';

            folderRef.listAll()
                .then((result) => {
                    const promises = [];
                    result.items.forEach((item) => {
                        const newItemPath = newFolderPath + item.name.split('/').pop();
                        promises.push(item.move(newItemPath));
                    });

                    Promise.all(promises)
                        .then(() => {
                            console.log('Folder renamed:', folderPath, 'to', newFolderPath);
                            displayFileList(currentPath);
                        })
                        .catch((error) => {
                            console.error('Folder renaming failed:', error.message);
                        });
                })
                .catch((error) => {
                    console.error('Error listing folder items:', error.message);
                });
        }
    }

    function renameFile(filePath) {
        const newFileName = prompt('Enter new file name:');
        if (newFileName) {
            const fileRef = storageRef.child(filePath);
            const parentPath = filePath.substring(0, filePath.lastIndexOf('/') + 1);
            const newFilePath = parentPath + newFileName;

            fileRef.getDownloadURL()
                .then((url) => {
                    const xhr = new XMLHttpRequest();
                    xhr.responseType = 'blob';
                    xhr.onload = () => {
                        const newFileRef = storageRef.child(newFilePath);
                        newFileRef.put(xhr.response)
                            .then(() => {
                                console.log('File renamed:', filePath, 'to', newFilePath);
                                fileRef.delete()
                                    .then(() => {
                                        displayFileList(currentPath);
                                    })
                                    .catch((error) => {
                                        console.error('Error deleting old file:', error.message);
                                    });
                            })
                            .catch((error) => {
                                console.error('Error uploading renamed file:', error.message);
                            });
                    };
                    xhr.open('GET', url);
                    xhr.send();
                })
                .catch((error) => {
                    console.error('Error fetching file:', error.message);
                });
        }
    }

    function loadUserClasses() {
        const userClassList = document.getElementById('userClassList');
        userClassList.innerHTML = '';
        database.ref('users').once('value', (snapshot) => {
            snapshot.forEach((userSnapshot) => {
                const userData = userSnapshot.val();
                const userEmail = userData.email;
                const userClasses = userData.classes || {};
                const userItem = document.createElement('li');
                userItem.textContent = userEmail;
                const classList = document.createElement('ul');
                for (const classKey in userClasses) {
                    const classData = userClasses[classKey];
                    const classItem = document.createElement('li');
                    classItem.textContent = `${classData.className} (${classData.tag})`;
                    classList.appendChild(classItem);
                }
                userItem.appendChild(classList);
                userClassList.appendChild(userItem);
            });
        });
    }

    loadUserClasses();
    displayFileList();
    function loadTeachers() {
        const teacherButtonsDiv = document.getElementById('teacherButtons');
        teacherButtonsDiv.innerHTML = '';

        database.ref('chats').on('value', (snapshot) => {
            snapshot.forEach((teacherSnapshot) => {
                const teacherEmail = teacherSnapshot.key;
                const button = document.createElement('button');
                button.textContent = teacherEmail;
                button.addEventListener('click', () => {
                    loadStudents(teacherEmail);
                });
                teacherButtonsDiv.appendChild(button);
            });
        });
    }

    function loadStudents(teacherEmail) {
        const studentButtonsDiv = document.getElementById('studentButtons');
        studentButtonsDiv.innerHTML = '';

        database.ref(`chats/${teacherEmail}`).on('value', (snapshot) => {
            snapshot.forEach((studentSnapshot) => {
                const studentEmail = studentSnapshot.key;
                const button = document.createElement('button');
                button.textContent = studentEmail;
                button.addEventListener('click', () => {
                    loadChatMessages(teacherEmail, studentEmail);
                });
                studentButtonsDiv.appendChild(button);
            });
        });
    }

    function loadChatMessages(teacherEmail, studentEmail) {
        const chatMessagesDiv = document.getElementById('chatMessages');
        chatMessagesDiv.innerHTML = '';

        database.ref(`chats/${teacherEmail}/${studentEmail}`).on('value', (snapshot) => {
            if (snapshot.exists()) {
                snapshot.forEach((messageSnapshot) => {
                    const messageData = messageSnapshot.val();
                    const messageDiv = document.createElement('div');
                    messageDiv.innerHTML = `
                        <p><strong>Sender:</strong> ${messageData.sender}</p>
                        <p><strong>Text:</strong> ${messageData.text}</p>
                        <p><strong>Timestamp:</strong> ${new Date(messageData.timestamp).toLocaleString()}</p>
                        <hr>
                    `;
                    chatMessagesDiv.appendChild(messageDiv);
                });
            } else {
                chatMessagesDiv.innerHTML = '<p>No messages found.</p>';
            }
        });
    }

    loadTeachers();
</script>


</script>
</body>
</html>
